!!!
%html
	%head
		%title Invent
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'default', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		%nav.navbar.navbar-default
			.container-fluid
				/ Brand and toggle get grouped for better mobile display
				.navbar-header
					%button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
						%span.sr-only Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a.navbar-brand{:href => "#"} INVENTARIO
				/ Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					%ul.nav.navbar-nav
						%li.active
							
							=link_to "HOME", root_path
						%li
							=link_to "ACERCA DE ", about_path
						-	unless current_user	
							%li
								=link_to "INICIO SESION ", new_user_session_path
							%li
								=link_to "REGISTRO ", new_user_registration_path	
						-	else
							%li
								=link_to "SALIR ", destroy_user_session_path
							%li
								=link_to "PRODUCTOS ", products_path
									

	.container

		= yield
